$icon-font-path: "../bower_components/twbs-bootstrap-sass/vendor/assets/fonts/";

// @import "../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap";
@import "../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables";
@import "../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/normalize";
@import "../bower_components/twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/tables";


/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* --------------------------------------
Styles for responsive table
--------------------------------------- */
/* Use your own media query. Make sure you also set this mediaquery for jquery.wtable.js */
@media (max-width: $screen-sm-max) {

	/* Force table to not be like tables anymore */
	table.reflow {
		display: block;

		> thead,
		> tbody,
		th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none; for accessibility) */
		> thead > tr,
		> tbody > tr.extra {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td[colspan='2'] {
			min-height: 44px;
		}
		td[colspan='3'] {
			min-height: 66px;
		}
		td[colspan='4'] {
			min-height: 88px;
		}

		> tbody > tr > td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}
	}

/* -------------------------------------------------
- Integration form 1: CSS3 with jquery.wtable script
--------------------------------------------------*/

	.th-injected {
		position: absolute;
		/* Top/left values mimic padding */
		// top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

/* -------------------------------------------------------------------------
- Integration form 2 (incomplete!!): CSS3 only (no jquery.wtable nessessary)
---------------------------------------------------------------------------*/

	// td:before {
	// 	position: absolute;
	// 	/* Top/left values mimic padding */
	// 	// top: 6px;
	// 	left: 6px;
	// 	width: 45%;
	// 	padding-right: 10px;
	// 	white-space: pre;
	// }

	// /*
	// Label the data
	// */

	// td:nth-of-type(1):before { content: "Polis 1"; }
	// td:nth-of-type(2):before { content: "Polis *"; }
	// td:nth-of-type(3):before { content: "Polis **"; }
	// td:nth-of-type(4):before { content: "Polis ***"; }
	// td:nth-of-type(5):before { content: "Polis ****"; }

	// tr.extra {
	// 	td:nth-of-type(2):before { content: "Beter Af Plus Tandarts *"; }
	// 	td:nth-of-type(3):before { content: "Beter Af Plus Tandarts **"; }
	// 	td:nth-of-type(4):before { content: "Beter Af Plus Tandarts ***"; }
	// 	td:nth-of-type(5):before { content: "Beter Af Plus Tandarts ****"; }
	// }

}
